<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div th:align="center">
    <h2>Таблица пользователей</h2>
    <table th:border="1" width="50%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Изменить / Удалить</th>
        </tr>
        </thead>
        <tbody th:align="center">
        <tr th:each="user : ${user}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname}"></td>
            <td th:text="${user.getAge()}"></td>
            <td><a th:href="@{/update/{id}(id=${user.getId})}">Изменить /</a>
                <a th:href="@{/delete/{id}(id=${user.getId})}"> Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/create}"> Добавить пользователя </a></p>
</div>
</body>
</html>